<head>
    <link rel="stylesheet" type="text/css" href="./css/header_style.css" />
</head>
<body>
    <div class="header-box">
        <div class="inner-header-box">
            <div class="title">Node County Corrections</div>
                <div class="nav-bar-container">
                    <div class="nav-bar">
                        <a href="prisoners" class="nav-link">Inmates</a>
                        <a href="login" class=""nav-link">Login</a>
                        <a href="new_user" class=""nav-link">Create Login</a>
                    </div>
                    <div class="nav-bar-right-bumper"></div>
                </div>
            </div>
        </div>
    </div>
</body>