<!DOCTYPE html>
<head>
    <title>File not found</title>
    <link rel="stylesheet" type="text/css" href="./css/error_style.css" />
</head>
<body>
    <%- include("./partials/header") %>
    <div class="center-text">
        <div class="not-found-error">404</div>
        <div>That URL does not exist on this server</div>
    </div>
</body>