<head>

</head>
<body>
    <div class="create-user-box">
        <form action="/new_user" method="POST">
            <label>Username</label>
            <input type="text" name="username" />
            <label>Password</label>
            <input type="password" name="password" />
            <label>Retype password</label>
            <input type="password" name="retype_password" />
            <input type="submit" value="Create account" />
        </form>
    </div>
</body>